.our-data {
    text-align: center;
    padding-bottom: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
  }

  /* .container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 50px;
  } */