@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h3 {
  color: #7c6853;
  font-weight: 500;
  text-transform: uppercase;
}

h4 {
  color: #7c6853;
  font-weight: normal;
}

p,
label {
  font-size: 15px;
}

.card:hover {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
